<h1>System Configuration</h1>


<% @sys_configs.each do |sys_config| %>
<p>TropoVoice Server URL: <%= sys_config.server_url %></p>
<p>Tropo Base API URL: <%= sys_config.tropo_url %></p>
<p><%= link_to 'Edit', edit_sys_config_path(sys_config) %> | <%= link_to 'Back', profiles_path %></p>
<%# link_to 'Delete', sys_config_path(sys_config), :confirm => 'Are you sure?', :method => :delete %>
<% end %>

<br />

<%# link_to 'New sys_config', new_sys_config_path %>