<% current_user = session[:current_user_id] %>
<p>
  <b>From:</b>
  <%=h @messaging.from %>
</p>

<p>
  <b>Text:</b>
  <%=h @messaging.text %>
</p>


<%= link_to 'Edit', edit_messaging_path( @messaging) %> |
<%= link_to 'Back', messagings_path %>